
.btn{
    margin-left: 1rem;
    margin-right: 1rem;
}

.main-content{
    margin-left: 2rem;
    margin-right: 2rem;
}


  
  table {
    width: 100%;
    table-layout: fixed;
  }
  
  th, td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .icon-gold{
    color: rgb(241, 116, 14);
  }


